<div ui-content-for="title">
  <span>Send</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <form role="form" ng-submit='login()'>
    <fieldset>
      <legend>Send SMS</legend>
        <div class="form-group has-success has-feedback">
          <label>Number</label>
          <input type="textbox"
                 ng-model="number"
                 class="form-control"
                 placeholder="Enter number">
        </div>
        <div class="form-group has-success has-feedback">
          <label>Message</label>
          <input type="message"
                 ng-model="message"
                 class="form-control"
                 placeholder="Enter message">
        </div>


    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block" ng-click="sendSMS()">
      Send SMS 
    </button>

    <div ui-content-for="navbarAction">
      <a class='btn' ng-click='app.sendSms()'>Send SMS</a>
    </div>

  </form>
 </div>
</div>
